h1 {
    color:  sienna
}
img{
    width: 400px;
}
#thirdDiv{
           height: 600px;
           width: 500px;
           background-color: hotpink;
           padding: 50px;
           border: 15px solid gold;
}
#spanId{
        font-size: 18px;
        margin: 50px;
        
}